<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ExchangeBoardgamesApp</title>
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
</head>

<body style="cursor: default;">
    <div class="nav-occupier">

    </div>
    <nav class="bar">
        <img src="/images/icons/hashtag-c-sharp.svg" alt="c-sharp logo" class="site-logo">
        <input type="search" placeholder="Give me something to search for you" class="website-search">
        <a class="nav-icon">
            <img src="/images/icons/question-mark.svg" alt="help center">
        </a>
        <a class="nav-icon">
            <img src="/images/icons/stack-exchange.svg" alt="list of all websites">
        </a>
        <a class="log-in button">
            Log in
        </a>
        <a class="sign-up button">
            Sign up
        </a>
    </nav>

    <header>
        Board & Card Games
    </header>
    <nav class="side">
        <a class="side-text" id="home-link">Home</a>
        <span>PUBLIC</span>
        <a class="Question side-text" href="https://www.google.com">Questions</a>
        <a class="side-text" href="https://www.google.com">Tags</a>
        <a class="side-text">Users</a>
        <a class="side-text">Unanswered</a>
    </nav>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>



</body>

</html>