:root {
  box-sizing: border-box;
  font-family: sans-serif;
  --dark-blue: rgb(57,115,157);
  font-size: 12px;
}
*,
::before,
::after {
  box-sizing: inherit;
  border-radius: 0.5em;
  letter-spacing: -0.04em;
}
nav {
    display: flex;
    align-items: center;
    padding: 0 1.25em;
    background-color: #232629;
  border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-occupier{
  display: block;
  height: 5.6em;
}
.nav-icon {
  padding: 1.8em 1em;
  display: flex;
}
.nav-icon:hover{
  background-color: #68696a;
  border-radius: 0
}
.nav-icon img {
    width: 2em;
}

.website-search {
  flex: 2;
  margin: 0 0.8em;
  background-color: #3B4045;
  border-color: #6A737C;
  background-image: url('/images/icons/magnifier.svg');
  background-size: 20px 20px;
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}
input{
  border-width: 0.2em;
  border-style: solid;
  height: 3em
}
.site-logo {
  width: 3em;
  margin-right: 1.25em;
}
.log-in {
  background-color: #E1EAF0;
  margin-right: 0.125em;
  color: #2B5878;
}
.sign-up {
  background-color: var(--dark-blue);
  margin-left: 0.2em;
  color: white;
}
.button{
  padding: 0.7em 1em;
}
.button:hover{
  filter:  brightness(90%);
}
a:hover {
  cursor:  pointer;
}

body {
  margin: 0;
}


input:focus {
  outline: 0.2em solid;
}
.website-search:focus{
  outline-color: #bbbbbb
}
.website-search::placeholder {
  color: white;
}

header {
  font-size: 2rem;
  padding: 1em;
  font-weight: bold;
  color: var(--dark-blue);
  background-color: #F4F8FB;
}
