:root {
  box-sizing: border-box;
  font-family: sans-serif;
}
*,
::before,
::after {
  box-sizing: inherit;
}
nav {
    display: flex;
    align-items: center;
    /*! height: 100px; */
    /*! margin: 1em; */
    padding: 0 1em;
    background-color: #232629;
}
img {
    width: 1.3em;
    /*! width: 100%; */
}

input {
  flex: 2;
  margin: 0 0.6em;
  /*! height: 80%; */
  background-color: #3B4045;
  border-radius: 0.5em;
  border: 0.15em solid #6A737C;
  height: 2.5em;
  background-image: url('/images/icons/magnifier.svg');
  background-size: 20px 20px;
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}
nav > img {
  width: 2em;
  /*! height: 2em; */
  margin-right: 1em;
}

a {
  /*! padding: .3em 1em; */
  /*! display: inline-block; */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
}

.Log.in {
}
.Log-in {
  background-color: #E1EAF0;
  border-radius: 0.5em;
  font-size: 0.8em;
  margin-right: 0.1em;
  color: #2B5878;
  padding: 0.7em 1em;
}
.Sign-up {
  background-color: rgb(57,115,157);
  border-radius: 0.5em;
  font-size: 0.8em;
  margin-left: 0.1em;
  color: white;
  padding: 0.7em 1em;
}
a:hover {
  cursor:  pointer;
}
.nav {
  padding: 0.7em 1em;
  background-color: #232629;
}
body {
  margin: 0;
}

.icon {
  padding: 1em 0.7em;
}
.icon:hover {
  background-color: #797777;
}
.Log-in:hover {
  background-color: #B6BEC4;
}
.Sign-up:hover {
  background-color: rgb(40, 82, 113);
}

input:focus {
  outline: 0.2em solid #bbbbbd;
}
input::placeholder {
  color: white;
}
