
h1 {
  font-weight: normal;
  color: var(--text-black);
}

.question-title-detail {
  color: var(--gray);
  margin-right: 0.5em;
}
.question-details {
  display: flex;
  margin: 0 0 2em 4em;
  gap: 1em;
}

.title div:first-child {
  display: flex;
  align-items: baseline;
}
.title div:first-child h1 {
  max-width: 35em;
  margin: 1em 2em;
}