@page
@model QuestionsModel
<head>
    <link rel="stylesheet" href="~/css/Questions.css" asp-append-version="true" />
</head>
<span>
        hello i'm a span here
    </span>
@* <header class="title">
    <h1>
        Can I use the Graft ability even if the creature giving the counter only has one?
    </h1>
    <a class="button">
        Ask question
    </a>
    <details>
        <span>Asked today</span>
        <span>Modified today</span>
        <span>Viewed 15 times</span>
    </details>
</header> *@
@* each of the answers little pieces of <article>*@